@import url('https://fonts.googleapis.com/css2?family=BioRhyme&display=swap');

@import url('https://fonts.googleapis.com/css2?family=BioRhyme&family=Karla&display=swap');

:root {
  --white: #ffffff;
  --gray: #fafbfc;
  --icons: #d8e0eb;
  --primary-color: #f0304e;
  --primary-color-light: #fddee3;
  --max-width: 1170px;
  --spacing: 0.5px;
  --transition: 0.3s all linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray);
  font-family: 'Karla', sans-serif;
}

button {
  display: block;
  outline: none;
  border: none;
  padding: 0.5rem;
  text-transform: uppercase;
  border-radius: 10px;
  letter-spacing: 0.3px;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s linear;
}
button:hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
button:active {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

hr {
  border: none;
  border-top: 1px solid var(--icons);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'BioRhyme', serif;
}
.btn-primary {
  background: var(--primary-color);
  color: var(--white);
}

.container {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

.alert {
  display: block;
  margin: 0 auto;
}
